:root{
    --main-tan:#E5DCCF;
    --dark-purple:#3D0753;
    --main-pink:#910A67;
}
html{
    margin: 0;
    padding: 0%;
    scroll-behavior: smooth;
    width: 100%;
}
/**********nav**********/
#menu{
    list-style-type: none;
    display: flex;
    gap: 1.25rem;
    justify-content: start;
}
#menu a{
    text-decoration: none;
    color: black;
    font-family: "main";
    gap: 1.25rem;
}
#menu li{
    margin-top: 2.25rem;
    font-size: larger;
    margin-left: .625rem;
}
#menu a:hover{
    transition: 0.5ms;
    color: var(--main-pink);
}
#menu-toggle{
    display: none;
    background-color: var(--blue);
    border: none;
    
}
#menu.active{
    display: flex;
    }
nav{
    background-color: var(--main-tan);
    height: 10vh;
}
.logo img{
   height: 10vh;
}



    /**********hero*************/
.hero{
    background-image: url(/img/header-img.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
    
}
.text{
    margin-left: 5.5rem;
    bottom: 30%;
    position: absolute;
}
.text p{
    font-size: 18pt;
}
.text h1{
    font-size: 25pt;
}
.button-hero{
  background-color: var(--dark-purple);
  padding: .625rem;
  color: white;
  box-shadow: 3px 4px 3px 3px rgb(56, 56, 56);
  text-align: center;
}
/**********shoes**********/
.shoes{
    background-image: url(/img/shoes-img.png);
    height: 60vh;
    background-position: center;
}
.shoes h3{
    font-size: 25pt;
    justify-content: center;
    text-align: left;
    padding: 1.25rem;
    padding-left: 17.875rem;
    color: white;
}
.btn-shoes{
    background-color: var(--main-pink);
    padding: .625rem;
    color: white;
    box-shadow: 3px 4px 3px 3px rgb(56, 56, 56);
    text-align: center;
    width: 9rem;
}
/**********email**********/
.email{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30vh;
    padding: .625rem;
}
.sign-up{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.form{
    align-items: center;
    text-align: center;
}
.input{
    width: 5rem;
}
.submit-btn{
    background-color: var(--dark-purple);
    padding: .625rem;
    color: white;
    box-shadow: 3px 4px 3px 3px rgb(56, 56, 56);
    text-align: center;
    width: 9rem;
    border-radius: 1.25rem;
}
/**********footer**********/
.footer{
    background-image: linear-gradient(180deg,#910A67, #3D0753);
    padding: 0.25rem;
    color: white;
}
.footer p{
    color: white;
    text-align: left;
    margin-left: 2.125rem;
    font-size: smaller;
}
.footer a{
    color: white;
}
/**********place4content**********/
.place-for-content{
    height: 90vh;
}
.img-div{
    height: 50vh;
}









@media  screen and (max-width: 43.75rem) {
    /**********nav**********/
#menu-toggle{
    display: block;
    position: fixed;
    z-index: 100000;
    padding: 0.60rem;
    border-radius: .25rem;
}
#menu{
    display: none; 
    position: fixed;
    z-index: 100000;
    flex-direction: column;
    background-color: var(--main-tan);
    border-radius: .625rem;
    justify-content: start;
    text-align: center;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: var(--main-tan);
    
}
nav a{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero{
    height: 90vh;
    background-position: top;
}
.text{
    margin: 0;
    top: .0625rem;
    text-align: center;
}
.text p{
    font-size: 14pt;
}
 /**********shoes**********/
 .shoes{
    height: 70vh;
 }
 .shoes h3{
    margin: 0;
    padding: .625rem;
    text-align: center;
 }
 .btn-shoes{
    margin: .625rem;
    text-align: center;
 }
 /**********email**********/
 .email{
    grid-template-columns: 1fr;
    padding: .625rem;
 }
 .footer{
    display: none;
 }
}
